In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv("ak_dgtl_archv_artst_list_2019.csv")

In [4]:
df1.columns = ['art_grp_se', 'archv_artst_nm', 'nm', 'vrit_mark_cn', 'realm_cl', 'act_relm_cn', 'birth_year', 'rsrch_man_nm', 'url']

In [5]:
df1 = df1.drop(['url'], axis=1)

In [6]:
df1

,art_grp_se,archv_artst_nm,nm,vrit_mark_cn,realm_cl,act_relm_cn,birth_year,rsrch_man_nm
0,FARTST,미술작가,김영구(김영),NaN,회화,NaN,NaN,NaN
1,FARTST,미술작가,박동우,Park Dong Woo,무대미술,NaN,NaN,NaN
2,FARTST,미술작가,유지원,柳智元,회화,NaN,NaN,NaN
3,ARTST,예술인,강경구,Kang kyung koo,시각예술,미술작가,1952.0,NaN
4,ARTST,예술인,강관욱,Kang kwan wook,시각예술,미술작가,1945.0,NaN
...,...,...,...,...,...,...,...,...
1862,DIC,구술채록,황금찬,黃錦燦,문학,문학,1918.0,전기철
1863,DIC,구술채록,황수영,黃壽永,시각예술,미술이론,1918.0,목수현
1864,DIC,구술채록,황정순,黃貞順,대중예술,대중예술,1925.0,이순진
1865,DIC,구술채록,황종례,黃鍾禮,시각예술,공예,1927.0,장동광
1866,DIC,구술채록,황창호,黃昌鎬,공연예술,무용,1936.0,윤지현

In [7]:
df2 = pd.read_csv("ak_dgtl_archv_artst_list_2020.csv")

In [8]:
df2.columns = ['art_grp_se', 'archv_artst_nm', 'nm', 'vrit_mark_cn', 'realm_cl', 'act_relm_cn', 'birth_year', 'rsrch_man_nm', 'url']

In [9]:
df2 = df2.drop(['url'], axis=1)

In [10]:
df2

,art_grp_se,archv_artst_nm,nm,vrit_mark_cn,realm_cl,act_relm_cn,birth_year,rsrch_man_nm
0,FARTST,미술작가,김영구(김영),NaN,회화,NaN,NaN,NaN
1,FARTST,미술작가,박동우,Park Dong Woo,무대미술,NaN,NaN,NaN
2,FARTST,미술작가,유지원,柳智元,회화,NaN,NaN,NaN
3,ARTST,예술인,강경구,Kang kyung koo,시각예술,미술작가,1952.0,NaN
4,ARTST,예술인,강관욱,Kang kwan wook,시각예술,미술작가,1945.0,NaN
...,...,...,...,...,...,...,...,...
1862,DIC,구술채록,황금찬,黃錦燦,문학,문학,1918.0,전기철
1863,DIC,구술채록,황수영,黃壽永,시각예술,미술이론,1918.0,목수현
1864,DIC,구술채록,황정순,黃貞順,대중예술,대중예술,1925.0,이순진
1865,DIC,구술채록,황종례,黃鍾禮,시각예술,공예,1927.0,장동광
1866,DIC,구술채록,황창호,黃昌鎬,공연예술,무용,1936.0,윤지현

In [11]:
df3 = pd.read_csv("ak_dgtl_archv_artst_list_2021.csv")

In [12]:
df3.columns = ['art_grp_se', 'archv_artst_nm', 'nm', 'vrit_mark_cn', 'realm_cl', 'act_relm_cn', 'birth_year', 'rsrch_man_nm', 'url']

In [13]:
df3 = df3.drop(['url'], axis=1)

In [14]:
df3

,art_grp_se,archv_artst_nm,nm,vrit_mark_cn,realm_cl,act_relm_cn,birth_year,rsrch_man_nm
0,ARTST,예술인,심옥식,SHIM Okshik,창작음악,한국현대음악,1959.0,NaN
1,ARTST,예술인,장민석,JANG Min Seok,창작음악,한국현대음악,1995.0,NaN
2,ARTST,예술인,홍현숙,Hong hyun sook,시각예술,미술작가,1958.0,NaN
3,ARTST,예술인,계낙영,Kye nak young,시각예술,미술작가,1948.0,NaN
4,ARTGR,예술단체,극단 산으로 간 어부,NaN,공연단체,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2017,ARTST,예술인,구히서,具熙書,공연예술,연극평론,1939.0,NaN
2018,FARTST,미술작가,조남붕,Cho nam boong,사진,NaN,1955.0,NaN
2019,ARTST,예술인,오수환,Oh su fan,시각예술,미술작가,1946.0,NaN
2020,ARTST,예술인,임영미,LYMN Youngmee,창작음악,한국현대음악,1960.0,NaN
2021,ARTST,예술인,전준,Chon joon,시각예술,미술작가,NaN,NaN

In [15]:
df4 = pd.read_csv("ak_dgtl_archv_artst_list_2022.csv")

In [16]:
df4.columns = ['art_grp_se', 'archv_artst_nm', 'nm', 'vrit_mark_cn', 'realm_cl', 'act_relm_cn', 'birth_year', 'rsrch_man_nm', 'url']

In [17]:
df4 = df4.drop(['url'], axis=1)

In [18]:
df4

,art_grp_se,archv_artst_nm,nm,vrit_mark_cn,realm_cl,act_relm_cn,birth_year,rsrch_man_nm
0,ARTST,예술인,심옥식,SHIM Okshik,창작음악,한국현대음악,1959.0,NaN
1,ARTST,예술인,홍현숙,Hong hyun sook,시각예술,미술작가,1958.0,NaN
2,ARTST,예술인,계낙영,Kye nak young,시각예술,미술작가,1948.0,NaN
3,FARTST,미술작가,김보희,Kim bo hie,회화,NaN,1952.0,NaN
4,ARTST,예술인,박광순,NaN,시각예술,미술이론,1969.0,NaN
...,...,...,...,...,...,...,...,...
2232,ARTST,예술인,김태호,Kim tae ho,시각예술,미술작가,1948.0,NaN
2233,ARTST,예술인,조진옥,CHO Jinok,창작음악,한국현대음악,1979.0,NaN
2234,ARTGR,예술단체,한국문화예술위원회 아르코예술기록원,NaN,기타,NaN,NaN,NaN
2235,ARTGR,예술단체,울주문화예술회관,NaN,공연장,NaN,NaN,NaN
2236,ARTST,예술인,박성원,BAHK Soungwon,창작음악,한국현대음악,1976.0,NaN

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1867 entries, 0 to 1866
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   art_grp_se      1867 non-null   object
 1   archv_artst_nm  1867 non-null   object
 2   nm              1867 non-null   object
 3   vrit_mark_cn    1750 non-null   object
 4   realm_cl        1860 non-null   object
 5   act_relm_cn     1344 non-null   object
 6   birth_year      1813 non-null   float64
 7   rsrch_man_nm    252 non-null    object
dtypes: float64(1), object(7)
memory usage: 116.8+ KB

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1867 entries, 0 to 1866
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   art_grp_se      1867 non-null   object
 1   archv_artst_nm  1867 non-null   object
 2   nm              1867 non-null   object
 3   vrit_mark_cn    1750 non-null   object
 4   realm_cl        1860 non-null   object
 5   act_relm_cn     1344 non-null   object
 6   birth_year      1813 non-null   float64
 7   rsrch_man_nm    252 non-null    object
dtypes: float64(1), object(7)
memory usage: 116.8+ KB

In [21]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2022 entries, 0 to 2021
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   art_grp_se      2022 non-null   object
 1   archv_artst_nm  2022 non-null   object
 2   nm              2022 non-null   object
 3   vrit_mark_cn    1805 non-null   object
 4   realm_cl        2006 non-null   object
 5   act_relm_cn     1407 non-null   object
 6   birth_year      1714 non-null   float64
 7   rsrch_man_nm    262 non-null    object
dtypes: float64(1), object(7)
memory usage: 126.5+ KB

In [22]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2237 entries, 0 to 2236
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   art_grp_se      2237 non-null   object
 1   archv_artst_nm  2237 non-null   object
 2   nm              2237 non-null   object
 3   vrit_mark_cn    1936 non-null   object
 4   realm_cl        2221 non-null   object
 5   act_relm_cn     1616 non-null   object
 6   birth_year      1925 non-null   float64
 7   rsrch_man_nm    281 non-null    object
dtypes: float64(1), object(7)
memory usage: 139.9+ KB

In [23]:
df = pd.concat([df1, df2, df3, df4], axis=0)

In [24]:
df

,art_grp_se,archv_artst_nm,nm,vrit_mark_cn,realm_cl,act_relm_cn,birth_year,rsrch_man_nm
0,FARTST,미술작가,김영구(김영),NaN,회화,NaN,NaN,NaN
1,FARTST,미술작가,박동우,Park Dong Woo,무대미술,NaN,NaN,NaN
2,FARTST,미술작가,유지원,柳智元,회화,NaN,NaN,NaN
3,ARTST,예술인,강경구,Kang kyung koo,시각예술,미술작가,1952.0,NaN
4,ARTST,예술인,강관욱,Kang kwan wook,시각예술,미술작가,1945.0,NaN
...,...,...,...,...,...,...,...,...
2232,ARTST,예술인,김태호,Kim tae ho,시각예술,미술작가,1948.0,NaN
2233,ARTST,예술인,조진옥,CHO Jinok,창작음악,한국현대음악,1979.0,NaN
2234,ARTGR,예술단체,한국문화예술위원회 아르코예술기록원,NaN,기타,NaN,NaN,NaN
2235,ARTGR,예술단체,울주문화예술회관,NaN,공연장,NaN,NaN,NaN
2236,ARTST,예술인,박성원,BAHK Soungwon,창작음악,한국현대음악,1976.0,NaN

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7993 entries, 0 to 2236
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   art_grp_se      7993 non-null   object
 1   archv_artst_nm  7993 non-null   object
 2   nm              7993 non-null   object
 3   vrit_mark_cn    7241 non-null   object
 4   realm_cl        7947 non-null   object
 5   act_relm_cn     5711 non-null   object
 6   birth_year      7265 non-null   float64
 7   rsrch_man_nm    1047 non-null   object
dtypes: float64(1), object(7)
memory usage: 562.0+ KB

In [26]:
df.tail()

,art_grp_se,archv_artst_nm,nm,vrit_mark_cn,realm_cl,act_relm_cn,birth_year,rsrch_man_nm
2232,ARTST,예술인,김태호,Kim tae ho,시각예술,미술작가,1948.0,NaN
2233,ARTST,예술인,조진옥,CHO Jinok,창작음악,한국현대음악,1979.0,NaN
2234,ARTGR,예술단체,한국문화예술위원회 아르코예술기록원,NaN,기타,NaN,NaN,NaN
2235,ARTGR,예술단체,울주문화예술회관,NaN,공연장,NaN,NaN,NaN
2236,ARTST,예술인,박성원,BAHK Soungwon,창작음악,한국현대음악,1976.0,NaN

In [28]:
df.to_excel("dongik.xlsx", encoding="utf-8")

In [29]:
df.isnull().sum()

art_grp_se           0
archv_artst_nm       0
nm                   0
vrit_mark_cn       752
realm_cl            46
act_relm_cn       2282
birth_year         728
rsrch_man_nm      6946
dtype: int64